In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
import pandas_ta as ta
data = pd.read_csv("./data/BTC-USD-1d.csv")
data

,Date,Adj Close,Close,High,Low,Open,Volume
0,2014-09-17,457.334015,457.334015,468.174011,452.421997,465.864014,2.105680e+07
1,2014-09-18,424.440002,424.440002,456.859985,413.104004,456.859985,3.448320e+07
2,2014-09-19,394.795990,394.795990,427.834991,384.532013,424.102997,3.791970e+07
3,2014-09-20,408.903992,408.903992,423.295990,389.882996,394.673004,3.686360e+07
4,2014-09-21,398.821014,398.821014,412.425995,393.181000,408.084991,2.658010e+07
...,...,...,...,...,...,...,...
2703,2022-02-10,43565.113281,43565.113281,45661.171875,43402.808594,44347.800781,3.214205e+10
2704,2022-02-11,42407.937500,42407.937500,43810.832031,42114.539062,43571.128906,2.695493e+10
2705,2022-02-12,42244.468750,42244.468750,42992.550781,41852.574219,42412.300781,1.815239e+10
2706,2022-02-13,42197.515625,42197.515625,42693.054688,41950.941406,42236.566406,1.474159e+10
2707,2022-02-14,42618.636719,42618.636719,42768.484375,41681.957031,42104.312500,1.900314e+10

In [2]:
data

,Date,Adj Close,Close,High,Low,Open,Volume
0,2014-09-17,457.334015,457.334015,468.174011,452.421997,465.864014,2.105680e+07
1,2014-09-18,424.440002,424.440002,456.859985,413.104004,456.859985,3.448320e+07
2,2014-09-19,394.795990,394.795990,427.834991,384.532013,424.102997,3.791970e+07
3,2014-09-20,408.903992,408.903992,423.295990,389.882996,394.673004,3.686360e+07
4,2014-09-21,398.821014,398.821014,412.425995,393.181000,408.084991,2.658010e+07
...,...,...,...,...,...,...,...
2703,2022-02-10,43565.113281,43565.113281,45661.171875,43402.808594,44347.800781,3.214205e+10
2704,2022-02-11,42407.937500,42407.937500,43810.832031,42114.539062,43571.128906,2.695493e+10
2705,2022-02-12,42244.468750,42244.468750,42992.550781,41852.574219,42412.300781,1.815239e+10
2706,2022-02-13,42197.515625,42197.515625,42693.054688,41950.941406,42236.566406,1.474159e+10
2707,2022-02-14,42618.636719,42618.636719,42768.484375,41681.957031,42104.312500,1.900314e+10

In [3]:
# Adding indicators
data['RSI']=ta.rsi(data.Close, length=15)
data['EMAF']=ta.ema(data.Close, length=20)
data['EMAM']=ta.ema(data.Close, length=100)
data['EMAS']=ta.ema(data.Close, length=150)

data['Target'] = data['Adj Close']-data.Open
data['Target'] = data['Target'].shift(-1)

# data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]

data['TargetNextClose'] = data['Adj Close'].shift(-1)

data.dropna(inplace=True)
data.reset_index(inplace = True)
data.drop(['Volume', 'Close', 'Date'], axis=1, inplace=True)

In [4]:
data_set = data.iloc[:, 0:11]#.values
pd.set_option('display.max_columns', None)

data_set.head(20)
#print(data_set.shape)
#print(data.shape)
#print(type(data_set))

,index,Adj Close,High,Low,Open,RSI,EMAF,EMAM,EMAS,Target,TargetClass
0,149,235.427002,240.259003,221.261993,221.968994,50.019072,229.312807,288.640505,327.932773,21.793015,1
1,150,257.321014,259.808014,235.528000,235.528000,58.174526,231.980256,288.020317,326.997518,-22.681992,0
2,151,234.824997,265.610992,227.684006,257.506989,49.315763,232.251183,286.966944,325.776690,-0.981995,0
3,152,233.843002,239.520996,229.022003,234.824997,48.967016,232.402785,285.914985,324.559025,10.188004,1
4,153,243.610001,245.774994,232.313995,233.421997,52.543343,233.470139,285.077263,323.486853,-7.453995,0
5,154,236.326004,244.251007,232.339996,243.779999,49.757135,233.742126,284.111891,322.332404,3.873001,1
6,155,240.283005,242.671997,235.591995,236.410004,51.261414,234.365067,283.243992,321.245657,3.528000,1
7,156,243.779007,247.100998,239.298996,240.251007,52.604668,235.261633,282.462508,320.219609,0.781998,1
8,157,244.533997,255.320007,243.184006,243.751999,52.904994,236.144715,281.711448,319.217151,-8.567001,0
9,158,235.977005,246.391998,233.850998,244.544006,49.124904,236.128743,280.805815,318.114632,2.897003,1
10,159,238.891998,240.108994,232.421005,235.994995,50.417937,236.391910,279.975839,317.065326,-0.263000,0
11,160,238.735001,239.901001,236.401993,238.998001,50.344101,236.615061,279.159189,316.027838,-1.419998,0
12,161,237.470001,239.339996,235.529999,238.889999,49.715551,236.696484,278.333660,314.987337,-0.911011,0
13,162,236.425995,237.710007,234.257004,237.337006,49.172687,236.670723,277.503805,313.946789,17.391998,1
14,163,253.828003,256.653015,236.436005,236.436005,57.467059,238.304750,277.034978,313.150514,0.742996,1
15,164,254.263000,254.692001,249.479004,253.520004,57.652143,239.824583,276.584047,312.370547,5.918991,1
16,165,260.201996,261.660004,245.932999,254.283005,60.186473,241.765289,276.259650,311.679573,15.313019,1
17,166,275.670013,276.300995,258.312988,260.356995,65.883868,244.994311,276.247974,311.202625,6.656006,1
18,167,281.701996,285.795990,268.161011,275.045990,67.808616,248.490281,276.355975,310.811888,-8.897980,0
19,168,273.092010,284.225006,268.126007,281.989990,62.422669,250.833303,276.291342,310.312287,3.438995,1

In [5]:
#Target column Categories
#y =[1 if data.Open[i]>data.Close[i] else 0 for i in range(0, len(data))]
#yi = [data.Open[i]-data.Close[i] for i in range(0, len(data))]
#print(yi)
#print(len(yi))

In [6]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
data_set_scaled = sc.fit_transform(data_set)
print(data_set_scaled)

[[0.00000000e+00 3.70150893e-04 2.39565673e-04 ... 1.51359471e-03
  5.10015892e-01 1.00000000e+00]
 [3.91083301e-04 6.95198463e-04 5.24678857e-04 ... 1.49563545e-03
  5.07025701e-01 0.00000000e+00]
 [7.82166601e-04 3.61213277e-04 6.09312584e-04 ... 1.47219246e-03
  5.08484658e-01 0.00000000e+00]
 ...
 [9.99217833e-01 6.26480697e-01 6.35695990e-01 ... 8.94000874e-01
  4.97266818e-01 0.00000000e+00]
 [9.99608917e-01 6.24053772e-01 6.23761741e-01 ... 8.92840822e-01
  5.05925177e-01 0.00000000e+00]
 [1.00000000e+00 6.23356686e-01 6.19393730e-01 ... 8.91684194e-01
  5.43130277e-01 1.00000000e+00]]

In [7]:
# multiple feature from data provided to the model
X = []
#print(data_set_scaled[0].size)
#data_set_scaled=data_set.values
backcandles = 30
print(data_set_scaled.shape[0])
for j in range(8):#data_set_scaled[0].size):#2 columns are target not X
    X.append([])
    for i in range(backcandles, data_set_scaled.shape[0]):#backcandles+2
        X[j].append(data_set_scaled[i-backcandles:i, j])

#move axis from 0 to position 2
X=np.moveaxis(X, [0], [2])

#Erase first elements of y because of backcandles to match X length
#del(yi[0:backcandles])
#X, yi = np.array(X), np.array(yi)
# Choose -1 for last column, classification else -2...
X, yi =np.array(X), np.array(data_set_scaled[backcandles:,-1])
y=np.reshape(yi,(len(yi),1))
#y=sc.fit_transform(yi)
#X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
print(X)
print(X.shape)
print(y)
print(y.shape)

2558
[[[0.00000000e+00 3.70150893e-04 2.39565673e-04 ... 4.73730554e-01
   0.00000000e+00 8.54480830e-04]
  [3.91083301e-04 6.95198463e-04 5.24678857e-04 ... 5.71810075e-01
   4.23545789e-05 8.43149654e-04]
  [7.82166601e-04 3.61213277e-04 6.09312584e-04 ... 4.65272382e-01
   4.66564543e-05 8.23903952e-04]
  ...
  [1.05592491e-02 1.24500555e-03 1.06839020e-03 ... 6.89496576e-01
   6.48253253e-04 6.50589741e-04]
  [1.09503324e-02 1.11113546e-03 1.03061587e-03 ... 6.11188915e-01
   6.71235777e-04 6.53432005e-04]
  [1.13414157e-02 1.05988571e-03 9.11664784e-04 ... 5.83244579e-01
   6.86809311e-04 6.54969078e-04]]

 [[3.91083301e-04 6.95198463e-04 5.24678857e-04 ... 5.71810075e-01
   4.23545789e-05 8.43149654e-04]
  [7.82166601e-04 3.61213277e-04 6.09312584e-04 ... 4.65272382e-01
   4.66564543e-05 8.23903952e-04]
  [1.17324990e-03 3.46634179e-04 2.28802192e-04 ... 4.61078263e-01
   4.90636352e-05 8.04684075e-04]
  ...
  [1.09503324e-02 1.11113546e-03 1.03061587e-03 ... 6.11188915e-01
   6.71235777e-04 6.53432005e-04]
  [1.13414157e-02 1.05988571e-03 9.11664784e-04 ... 5.83244579e-01
   6.86809311e-04 6.54969078e-04]
  [1.17324990e-02 1.12681327e-03 9.14391817e-04 ... 6.07945867e-01
   7.07716734e-04 6.58106676e-04]]

 [[7.82166601e-04 3.61213277e-04 6.09312584e-04 ... 4.65272382e-01
   4.66564543e-05 8.23903952e-04]
  [1.17324990e-03 3.46634179e-04 2.28802192e-04 ... 4.61078263e-01
   4.90636352e-05 8.04684075e-04]
  [1.56433320e-03 4.91639078e-04 3.20013825e-04 ... 5.04088059e-01
   6.60114137e-05 7.89378422e-04]
  ...
  [1.13414157e-02 1.05988571e-03 9.11664784e-04 ... 5.83244579e-01
   6.86809311e-04 6.54969078e-04]
  [1.17324990e-02 1.12681327e-03 9.14391817e-04 ... 6.07945867e-01
   7.07716734e-04 6.58106676e-04]
  [1.21235823e-02 1.18916794e-03 1.02498644e-03 ... 6.30245638e-01
   7.32984271e-04 6.62701667e-04]]

 ...

 [[9.87485334e-01 6.49361456e-01 6.40429184e-01 ... 3.66032838e-01
   7.12603204e-01 9.16691809e-01]
  [9.87876418e-01 6.29206985e-01 6.42515569e-01 ... 3.20443563e-01
   7.08797297e-01 9.13861326e-01]
  [9.88267501e-01 6.36750877e-01 6.28926659e-01 ... 3.47374817e-01
   7.06122261e-01 9.11270730e-01]
  ...
  [9.98044583e-01 6.51875604e-01 6.57325364e-01 ... 6.22884709e-01
   6.38651630e-01 8.35144338e-01]
  [9.98435667e-01 6.55147034e-01 6.49069550e-01 ... 6.30415183e-01
   6.44530922e-01 8.34560790e-01]
  [9.98826750e-01 6.43660607e-01 6.62682331e-01 ... 5.85689487e-01
   6.48680301e-01 8.33708885e-01]]

 [[9.87876418e-01 6.29206985e-01 6.42515569e-01 ... 3.20443563e-01
   7.08797297e-01 9.13861326e-01]
  [9.88267501e-01 6.36750877e-01 6.28926659e-01 ... 3.47374817e-01
   7.06122261e-01 9.11270730e-01]
  [9.88658584e-01 6.37904432e-01 6.34439385e-01 ... 3.51604831e-01
   7.03819488e-01 9.08759543e-01]
  ...
  [9.98435667e-01 6.55147034e-01 6.49069550e-01 ... 6.30415183e-01
   6.44530922e-01 8.34560790e-01]
  [9.98826750e-01 6.43660607e-01 6.62682331e-01 ... 5.85689487e-01
   6.48680301e-01 8.33708885e-01]
  [9.99217833e-01 6.26480697e-01 6.35695990e-01 ... 5.24068993e-01
   6.50684597e-01 8.32455191e-01]]

 [[9.88267501e-01 6.36750877e-01 6.28926659e-01 ... 3.47374817e-01
   7.06122261e-01 9.11270730e-01]
  [9.88658584e-01 6.37904432e-01 6.34439385e-01 ... 3.51604831e-01
   7.03819488e-01 9.08759543e-01]
  [9.89049668e-01 6.36961395e-01 6.30241033e-01 ... 3.49175395e-01
   7.01639971e-01 9.06275102e-01]
  ...
  [9.98826750e-01 6.43660607e-01 6.62682331e-01 ... 5.85689487e-01
   6.48680301e-01 8.33708885e-01]
  [9.99217833e-01 6.26480697e-01 6.35695990e-01 ... 5.24068993e-01
   6.50684597e-01 8.32455191e-01]
  [9.99608917e-01 6.24053772e-01 6.23761741e-01 ... 5.15657810e-01
   6.52250806e-01 8.31167181e-01]]]
(2528, 30, 8)
[[1.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [1.]]
(2528, 1)

In [8]:
#also comprehensions for X
#X = np.array([data_set_scaled[i-backcandles:i,:4].copy() for i in range(backcandles,len(data_set_scaled))])
#print(X)
#print(X.shape)

In [9]:
# split data into train test sets
splitlimit = int(len(X)*0.8)
print(splitlimit)
X_train, X_test = X[:splitlimit], X[splitlimit:]
y_train, y_test = y[:splitlimit], y[splitlimit:]
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(y_train)

2022
(2022, 30, 8)
(506, 30, 8)
(2022, 1)
(506, 1)
[[1.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [1.]]

In [10]:
import numpy as np
import tensorflow as tf

# Assuming X_train and y_train are defined

backcandles = 10  # Assuming you have defined the backcandles variable

# Define the input layer
lstm_input = tf.keras.Input(shape=(backcandles, 8), name='lstm_input')

# Define the LSTM layer
lstm_layer = tf.keras.LSTM(150, name='first_layer')(lstm_input)

# Define the Dense layer
dense_layer = tf.keras.Dense(1, name='dense_layer')(lstm_layer)

# Define the output layer
output = tf.keras.Activation('linear', name='output')(dense_layer)

# Create the model
model = tf.keras.Model(inputs=lstm_input, outputs=output)

# Compile the model
adam = tf.keras.optimizers.Adam()
model.compile(optimizer=adam, loss='mse')

# Train the model
model.fit(x=X_train, y=y_train, batch_size=15, epochs=30, shuffle=True, validation_split=0.1)

In [ ]:
y_pred = model.predict(X_test)
#y_pred=np.where(y_pred > 0.43, 1,0)
for i in range(10):
    print(y_pred[i], y_test[i])

In [ ]:
plt.figure(figsize=(16,8))
plt.plot(y_test, color = 'black', label = 'Test')
plt.plot(y_pred, color = 'green', label = 'pred')
plt.legend()
plt.show()